.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column-left {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  flex-wrap: wrap;
}

.column-right {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 4;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: solid 1px transparent;
  background-color: rgba(0, 212, 255, 1);
  border-radius: 25px;
  min-width: 100%;
  height: 97vh;
  margin: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.background__dark {
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(237,237,242,1) 0%, rgba(0,212,255,1) 100%); */
  background-color: rgb(164, 226, 238);
}

.filter__form {
  min-width: 70%;
  min-height: 30vh;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
}

.employee__details {
  min-width: 70%;
  min-height: 40vh;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
}

.top__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
  border-radius: 15px;
  background-color: rgba(0, 212, 255, 1);
  min-height: 50px;
  color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.nav__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.projects {
  display: flex;
  flex-direction: row;
}

.project__card {
  padding-top: 10px;
  text-align: center;
  color: white;
  min-width: 250px;
  max-width: 250px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 30px;
  background-color: rgba(0, 212, 255, 1);
  border: 1px solid white;
}

.project__card > .grid__view {
  min-height: 250px;
  max-width: 250px;
  margin-top: 80px;
  margin-left: 0px;
  background-color: rgb(255, 255, 255);
}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;
  min-height: 350px;

  overflow: hidden;

  margin: 0 auto;
}

.flexbox .board {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  background-color: rgb(133, 229, 248);
}

.flexbox .board .card {
  padding: 5px;
  background-color: #f3f3f3;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  color: blue;
  background-color: white;
}

.flexbox .board .card:hover{
  background-color: chartreuse;
}

.input__field{
  margin: 8px;
}

.input__values{
  border-radius: 5px;
  margin: 3px;
  min-width:150px;
  border: 1px solid grey;
}

.submit__button{
  display: flex;
  text-align: center;
  margin-left: auto;
  justify-content: center;
  margin-right: 5px;
  margin-top: 10px;
  min-width: 100px;
  border-radius: 25px;
  background-color: rgba(0, 212, 255, 1);
  border: 5px solid rgba(0, 212, 255, 1);
  cursor: pointer;
  opacity: .7;
}

.submit__button:hover{
  opacity: 1;

}

.styled__table {
  border-collapse: collapse;
  margin: 5px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 210px;
}

.styled__table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled__table th,
.styled__table td {
    padding: 3px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.navigation{
  display: flex;
  margin-left: auto;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  border: 1px solid white;
}

.navigation:hover{
  background-color: white;
  color: blue;
  cursor: pointer;
}